[Unit]
Description= Listen SmartBus Feedback Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/Smartbus/
ExecStart=/bin/bash /mnt/Smartbus/smartbusFeedback.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
